# Ignore dataset split directory
Dataset_split/

# Ignore logs directory and subdirectories
logs/

# Ignore virtual environment directory
venv/
test.tfrecord
train.tfrecord
val.tfrecord
accuracy_loss_plot.png
EfficientNet_model.keras